name: Release & Publish

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

permissions: {}

jobs:
  ensure-doc:
    name: Ensure documentation builds
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          toolchain: nightly
          cache: false

      - name: Install cargo-doc-rs
        uses: taiki-e/install-action@a983ca795126a4be4e8a44879ac5c4c3ef66cae1 # v2.65.11
        with:
          tool: cargo-docs-rs

      - run: cargo docs-rs

  release:
    runs-on: ubuntu-latest
    needs: ensure-doc
    name: Release
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
            cache: false

      - name: Publish to crates.io
        # zizmor: ignore[use-trusted-publishing]
        run: cargo publish --workspace --locked
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
